$base: 0.3rem;
@import '../../components/propellant'


header, main
  transition: 0.5s ease

.menu
  transform: translateY(6rem)

.slide-down-enter-active, .slide-down-leave-active
  transition: transform 0.5s ease
.slide-down-enter, .slide-down-leave-to
  transform: translateY(-100%)

.options
  height: 6rem
  background-color: colors(primary, light)
  position: absolute
  width: 100%
  padding: 0.6rem 1.2rem

input.pill
  background-color: colors(primary, light) !important
  text-align: center
  margin: 0.6rem
  padding: 0.6rem
  min-width: 4.8rem
  border-radius: 1.2rem
  font-weight: 600
  font-size: 1.1rem

ul
  list-style: disc outside
  li
    color: colors(gray, light)

header
  background-color: colors(primary)
  color: colors(light)
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0.6rem 1.2rem
  h1
    line-height: 3.2rem
    margin-bottom: 0.2rem
  input
    font-weight: inherit
  .right
    display: flex
    align-items: center
  *
    margin: 0
  #menu-icon
    margin-right: 2.4rem
  #user-icon
    display: none

main
  margin: 1.2rem
  display: grid
  grid-gap: 1.2rem
  grid-template-columns: minmax(16rem, 1fr) minmax(24rem, 1.5fr) minmax(24rem, 1.5fr)
  grid-auto-rows: minmax(10rem, auto)
  grid-template-areas: "image bio motivations" "image goals motivations" "stats needs personality" "stats frustrations personality" "brands technology technology"

article.element
  background-color: colors(light)
  border: 2px solid $border-color
  padding: 1.2rem
  @each $element in image, stats, brands, bio, goals, needs, frustrations, technology, motivations, personality
    &.#{$element}
      grid-area: $element
  h3
    color: colors(primary)
  h4
    font-size: 1.2rem
    margin-bottom: 0.6rem

.column
  display: flex
  flex-direction: column
.row
  display: flex
  align-items: center
  &.wrap
    flex-wrap: wrap
.1-3
  flex: 1
.2-3
  flex: 2

.personality, .image, .motivations, .technology
  justify-content: space-between

.personality, .image
  > textarea
    flex: 1
    padding-top: 1.2rem

.image textarea
  font-weight: 600
  font-size: 1.4rem

.motivations, .technology
  .row
    flex: 1
    margin: 0.3rem 0
    .row ~ .row
      padding-left: 2.4rem
      margin-left: 2.4rem

.stats
  h4
    color: colors(primary)
    flex: 1
    margin-right: 0.6rem
  .tabular input[type="text"]
    flex: 2
    margin-bottom: 0.6rem
  .row
    margin-bottom: 1.2rem

// image upload

.image-wrapper
  flex: 3
  background-color: colors(light)
  height: 100%
  width: 100%
  background-size: contain
  background-repeat: no-repeat
  &.no-image
    display: flex
    align-items: center
    justify-content: center
    border: 2px dashed $border-color
    &:before
      content: "DROP IMAGE HERE"
      font-size: 1.6rem
      font-weight: 600
      color: $border-color

// balanceGauge

.column
  align-items: stretch
.spread.row
  justify-content: space-between
.slider
  margin: 0.3rem 0
  input[type='range']
    appearance: none;
    position: relative;
    overflow: hidden;
    height: 1.2rem;
    width: 100%;
    cursor: pointer;
    border-radius: 1.2rem;
    &::-webkit-slider-runnable-track
      background: colors(gray, light)
    &::-webkit-slider-thumb
      -webkit-appearance: none
      width: 3.6rem
      height: 1.2rem
      background: colors(gray)
      border-radius: 4.8rem

// strength gauge

.strength-gauge-title 
  flex: 1
  &, & input
    font-weight: 500
.strength-gauge
  flex: 2
  input[type='range']
    appearance: none;
    position: relative;
    overflow: hidden;
    height: 1.2rem;
    width: 100%;
    cursor: pointer;
    border-radius: 0;
    &::-webkit-slider-runnable-track
      background: colors(gray, light)
    &::-webkit-slider-thumb
      -webkit-appearance: none
      width: 0px
      height: 0px
      background: #fff
      box-shadow: -100vw 0 0 100vw colors(gray)
      border: 1.2rem solid colors(gray)

// multiline

li textarea
  margin-bottom: 0.2rem
textarea, input[type="text"]
  width: 100%
  resize: none
  border: none
  background-color: transparent
  color: colors(gray, dark)
  vertical-align: top
  &::-webkit-input-placeholder
    color: colors(gray)
    font-style: italic
  &.white
    color: colors(light)
    &::-webkit-input-placeholder
      color: colors(background)

@media print
  #app
    width: 42cm
    height: 29.7cm
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: center
  .image textarea
    font-style: italic
  header
    #menu-icon
      display: none
    #user-icon
      display: block
      margin-right: 2.4rem
